# The Iris Dataset
The data set consists of 50 samples from each of three species of Iris (Iris setosa, Iris virginica and Iris versicolor). Four features were measured from each sample: the length and the width of the sepals and petals, in centimeters.

The dataset contains a set of 150 records under five attributes - petal length, petal width, sepal length, sepal width and species.

### Specifying the TensorFlow version
Running `import tensorflow` will import the default version (currently 1.x). You can use 2.x by running a cell with the `tensorflow_version` magic **before** you run `import tensorflow`.

In [ ]:
%tensorflow_version 2.x

### Import TensorFlow
Once you have specified a version via this magic, you can run `import tensorflow` as normal and verify which version was imported as follows:

In [ ]:
import tensorflow as tf
print(tf.__version__)

2.1.0-rc1

### Set random seed

In [ ]:
tf.random.set_seed(42)

## Question 1

### Import dataset
- Import iris dataset
- Import the dataset using sklearn library

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
from pandas import read_csv

In [ ]:

DF = read_csv("/content/drive/My Drive/PGPAIML/Inclass Lab/iris.csv", delimiter=",", header=None)
dataset = dataframe.values   #Numpy Array 
dataframe.head()

    0              1             2              3             4            5
0  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   1            5.1           3.5            1.4           0.2  Iris-setosa
2   2            4.9           3.0            1.4           0.2  Iris-setosa
3   3            4.7           3.2            1.3           0.2  Iris-setosa
4   4            4.6           3.1            1.5           0.2  Iris-setosa

## Question 2

### Get features and label from the dataset in separate variable
- you can get the features using .data method
- you can get the features using .target method

In [ ]:
from sklearn import datasets

In [ ]:
iris = datasets.load_iris()

In [ ]:
X = iris.data[:, :5]

In [ ]:
y = iris.target

## Question 3

### Create train and test data
- use train_test_split to get train and test set
- set a random_state
- test_size: 0.25

In [ ]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(X,y,test_size=.30,random_state=2)

## Question 4

### One-hot encode the labels
- convert class vectors (integers) to binary class matrix
- convert labels
- number of classes: 3
- we are doing this to use categorical_crossentropy as loss

In [ ]:
y_train = tf.keras.utils.to_categorical(train_y, num_classes=3)
y_test = tf.keras.utils.to_categorical(test_y, num_classes=3)

## Question 5

### Initialize a sequential model
- Define a sequential model

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
model = tf.keras.Sequential()

## Question 6

### Add a layer
- Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3
- Apply Softmax on Dense Layer outputs

In [ ]:
model.add(tf.keras.layers.Dense(4, input_dim=4, activation='sigmoid'))

In [ ]:
model.add(tf.keras.layers.Dense(3, activation='softmax'))

## Question 7

### Compile the model
- Use SGD as Optimizer
- Use categorical_crossentropy as loss function
- Use accuracy as metrics

In [ ]:
model.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['accuracy'])

## Question 8

### Summarize the model
- Check model layers
- Understand number of trainable parameters

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_13 (Dense)             (None, 4)                 20
_________________________________________________________________
dense_14 (Dense)             (None, 3)                 15
=================================================================
Total params: 35
Trainable params: 35
Non-trainable params: 0
_________________________________________________________________

## Question 9

### Fit the model
- Give train data as training features and labels
- Epochs: 100
- Give validation data as testing features and labels

In [ ]:
model.fit(train_x, y_train, validation_data=(test_x,y_test), epochs=100)

Train on 105 samples, validate on 45 samples
Epoch 1/100
105/105 [==============================] - 0s 3ms/sample - loss: 0.6704 - accuracy: 0.6667 - val_loss: 0.6804 - val_accuracy: 0.6667
Epoch 2/100
105/105 [==============================] - 0s 190us/sample - loss: 0.6688 - accuracy: 0.6667 - val_loss: 0.6788 - val_accuracy: 0.6667
Epoch 3/100
105/105 [==============================] - 0s 181us/sample - loss: 0.6674 - accuracy: 0.6667 - val_loss: 0.6768 - val_accuracy: 0.6667
Epoch 4/100
105/105 [==============================] - 0s 181us/sample - loss: 0.6659 - accuracy: 0.6667 - val_loss: 0.6752 - val_accuracy: 0.6667
Epoch 5/100
105/105 [==============================] - 0s 174us/sample - loss: 0.6646 - accuracy: 0.6667 - val_loss: 0.6737 - val_accuracy: 0.6667
Epoch 6/100
105/105 [==============================] - 0s 162us/sample - loss: 0.6635 - accuracy: 0.6667 - val_loss: 0.6721 - val_accuracy: 0.6667
Epoch 7/100
105/105 [==============================] - 0s 174us/sample - loss: 0.6622 - accuracy: 0.6667 - val_loss: 0.6709 - val_accuracy: 0.6667
Epoch 8/100
105/105 [==============================] - 0s 177us/sample - loss: 0.6611 - accuracy: 0.6667 - val_loss: 0.6691 - val_accuracy: 0.6667
Epoch 9/100
105/105 [==============================] - 0s 204us/sample - loss: 0.6598 - accuracy: 0.6667 - val_loss: 0.6673 - val_accuracy: 0.6667
Epoch 10/100
105/105 [==============================] - 0s 187us/sample - loss: 0.6583 - accuracy: 0.6667 - val_loss: 0.6655 - val_accuracy: 0.6667
Epoch 11/100
105/105 [==============================] - 0s 190us/sample - loss: 0.6569 - accuracy: 0.6667 - val_loss: 0.6634 - val_accuracy: 0.6667
Epoch 12/100
105/105 [==============================] - 0s 181us/sample - loss: 0.6553 - accuracy: 0.6667 - val_loss: 0.6616 - val_accuracy: 0.6667
Epoch 13/100
105/105 [==============================] - 0s 158us/sample - loss: 0.6540 - accuracy: 0.6667 - val_loss: 0.6601 - val_accuracy: 0.6667
Epoch 14/100
105/105 [==============================] - 0s 181us/sample - loss: 0.6528 - accuracy: 0.6667 - val_loss: 0.6582 - val_accuracy: 0.6667
Epoch 15/100
105/105 [==============================] - 0s 175us/sample - loss: 0.6514 - accuracy: 0.6667 - val_loss: 0.6568 - val_accuracy: 0.6667
Epoch 16/100
105/105 [==============================] - 0s 213us/sample - loss: 0.6504 - accuracy: 0.6667 - val_loss: 0.6562 - val_accuracy: 0.6667
Epoch 17/100
105/105 [==============================] - 0s 225us/sample - loss: 0.6496 - accuracy: 0.6667 - val_loss: 0.6547 - val_accuracy: 0.6667
Epoch 18/100
105/105 [==============================] - 0s 251us/sample - loss: 0.6486 - accuracy: 0.6667 - val_loss: 0.6531 - val_accuracy: 0.6667
Epoch 19/100
105/105 [==============================] - 0s 221us/sample - loss: 0.6474 - accuracy: 0.6667 - val_loss: 0.6520 - val_accuracy: 0.6667
Epoch 20/100
105/105 [==============================] - 0s 190us/sample - loss: 0.6464 - accuracy: 0.6667 - val_loss: 0.6508 - val_accuracy: 0.6667
Epoch 21/100
105/105 [==============================] - 0s 213us/sample - loss: 0.6454 - accuracy: 0.6667 - val_loss: 0.6496 - val_accuracy: 0.6667
Epoch 22/100
105/105 [==============================] - 0s 203us/sample - loss: 0.6444 - accuracy: 0.6667 - val_loss: 0.6484 - val_accuracy: 0.6667
Epoch 23/100
105/105 [==============================] - 0s 174us/sample - loss: 0.6433 - accuracy: 0.6667 - val_loss: 0.6470 - val_accuracy: 0.6667
Epoch 24/100
105/105 [==============================] - 0s 162us/sample - loss: 0.6423 - accuracy: 0.6667 - val_loss: 0.6460 - val_accuracy: 0.6667
Epoch 25/100
105/105 [==============================] - 0s 199us/sample - loss: 0.6415 - accuracy: 0.6667 - val_loss: 0.6448 - val_accuracy: 0.6667
Epoch 26/100
105/105 [==============================] - 0s 183us/sample - loss: 0.6406 - accuracy: 0.6667 - val_loss: 0.6439 - val_accuracy: 0.6667
Epoch 27/100
105/105 [==============================] - 0s 213us/sample - loss: 0.6398 - accuracy: 0.6667 - val_loss: 0.6432 - val_accuracy: 0.6667
Epoch 28/100
105/105 [==============================] - 0s 183us/sample - loss: 0.6390 - accuracy: 0.6667 - val_loss: 0.6424 - val_accuracy: 0.6667
Epoch 29/100
105/105 [==============================] - 0s 178us/sample - loss: 0.6381 - accuracy: 0.6667 - val_loss: 0.6412 - val_accuracy: 0.6667
Epoch 30/100
105/105 [==============================] - 0s 183us/sample - loss: 0.6372 - accuracy: 0.6667 - val_loss: 0.6403 - val_accuracy: 0.6667
Epoch 31/100
105/105 [==============================] - 0s 164us/sample - loss: 0.6364 - accuracy: 0.6667 - val_loss: 0.6394 - val_accuracy: 0.6667
Epoch 32/100
105/105 [==============================] - 0s 181us/sample - loss: 0.6356 - accuracy: 0.6667 - val_loss: 0.6386 - val_accuracy: 0.6667
Epoch 33/100
105/105 [==============================] - 0s 187us/sample - loss: 0.6348 - accuracy: 0.6667 - val_loss: 0.6373 - val_accuracy: 0.6667
Epoch 34/100
105/105 [==============================] - 0s 172us/sample - loss: 0.6339 - accuracy: 0.6667 - val_loss: 0.6362 - val_accuracy: 0.6667
Epoch 35/100
105/105 [==============================] - 0s 172us/sample - loss: 0.6330 - accuracy: 0.6667 - val_loss: 0.6355 - val_accuracy: 0.6667
Epoch 36/100
105/105 [==============================] - 0s 164us/sample - loss: 0.6323 - accuracy: 0.6667 - val_loss: 0.6346 - val_accuracy: 0.6667
Epoch 37/100
105/105 [==============================] - 0s 178us/sample - loss: 0.6315 - accuracy: 0.6667 - val_loss: 0.6338 - val_accuracy: 0.6667
Epoch 38/100
105/105 [==============================] - 0s 187us/sample - loss: 0.6308 - accuracy: 0.6667 - val_loss: 0.6329 - val_accuracy: 0.6667
Epoch 39/100
105/105 [==============================] - 0s 201us/sample - loss: 0.6301 - accuracy: 0.6667 - val_loss: 0.6319 - val_accuracy: 0.6667
Epoch 40/100
105/105 [==============================] - 0s 180us/sample - loss: 0.6293 - accuracy: 0.6667 - val_loss: 0.6309 - val_accuracy: 0.6667
Epoch 41/100
105/105 [==============================] - 0s 182us/sample - loss: 0.6285 - accuracy: 0.6667 - val_loss: 0.6299 - val_accuracy: 0.6667
Epoch 42/100
105/105 [==============================] - 0s 198us/sample - loss: 0.6278 - accuracy: 0.6667 - val_loss: 0.6292 - val_accuracy: 0.6667
Epoch 43/100
105/105 [==============================] - 0s 208us/sample - loss: 0.6271 - accuracy: 0.6667 - val_loss: 0.6283 - val_accuracy: 0.6667
Epoch 44/100
105/105 [==============================] - 0s 157us/sample - loss: 0.6264 - accuracy: 0.6667 - val_loss: 0.6277 - val_accuracy: 0.6667
Epoch 45/100
105/105 [==============================] - 0s 208us/sample - loss: 0.6258 - accuracy: 0.6667 - val_loss: 0.6273 - val_accuracy: 0.6667
Epoch 46/100
105/105 [==============================] - 0s 200us/sample - loss: 0.6252 - accuracy: 0.6667 - val_loss: 0.6266 - val_accuracy: 0.6667
Epoch 47/100
105/105 [==============================] - 0s 179us/sample - loss: 0.6245 - accuracy: 0.6667 - val_loss: 0.6258 - val_accuracy: 0.6667
Epoch 48/100
105/105 [==============================] - 0s 165us/sample - loss: 0.6237 - accuracy: 0.6667 - val_loss: 0.6253 - val_accuracy: 0.6667
Epoch 49/100
105/105 [==============================] - 0s 197us/sample - loss: 0.6231 - accuracy: 0.6667 - val_loss: 0.6244 - val_accuracy: 0.6667
Epoch 50/100
105/105 [==============================] - 0s 172us/sample - loss: 0.6224 - accuracy: 0.6667 - val_loss: 0.6238 - val_accuracy: 0.6667
Epoch 51/100
105/105 [==============================] - 0s 184us/sample - loss: 0.6218 - accuracy: 0.6667 - val_loss: 0.6231 - val_accuracy: 0.6667
Epoch 52/100
105/105 [==============================] - 0s 172us/sample - loss: 0.6213 - accuracy: 0.6667 - val_loss: 0.6225 - val_accuracy: 0.6667
Epoch 53/100
105/105 [==============================] - 0s 175us/sample - loss: 0.6205 - accuracy: 0.6667 - val_loss: 0.6220 - val_accuracy: 0.6667
Epoch 54/100
105/105 [==============================] - 0s 176us/sample - loss: 0.6200 - accuracy: 0.6667 - val_loss: 0.6211 - val_accuracy: 0.6667
Epoch 55/100
105/105 [==============================] - 0s 206us/sample - loss: 0.6195 - accuracy: 0.6667 - val_loss: 0.6207 - val_accuracy: 0.6667
Epoch 56/100
105/105 [==============================] - 0s 183us/sample - loss: 0.6188 - accuracy: 0.6667 - val_loss: 0.6200 - val_accuracy: 0.6667
Epoch 57/100
105/105 [==============================] - 0s 178us/sample - loss: 0.6181 - accuracy: 0.6667 - val_loss: 0.6196 - val_accuracy: 0.6667
Epoch 58/100
105/105 [==============================] - 0s 228us/sample - loss: 0.6176 - accuracy: 0.6667 - val_loss: 0.6191 - val_accuracy: 0.6667
Epoch 59/100
105/105 [==============================] - 0s 203us/sample - loss: 0.6170 - accuracy: 0.6667 - val_loss: 0.6185 - val_accuracy: 0.6667
Epoch 60/100
105/105 [==============================] - 0s 169us/sample - loss: 0.6164 - accuracy: 0.6667 - val_loss: 0.6179 - val_accuracy: 0.6667
Epoch 61/100
105/105 [==============================] - 0s 182us/sample - loss: 0.6159 - accuracy: 0.6667 - val_loss: 0.6173 - val_accuracy: 0.6667
Epoch 62/100
105/105 [==============================] - 0s 170us/sample - loss: 0.6153 - accuracy: 0.6667 - val_loss: 0.6167 - val_accuracy: 0.6667
Epoch 63/100
105/105 [==============================] - 0s 187us/sample - loss: 0.6148 - accuracy: 0.6667 - val_loss: 0.6162 - val_accuracy: 0.6667
Epoch 64/100
105/105 [==============================] - 0s 221us/sample - loss: 0.6142 - accuracy: 0.6667 - val_loss: 0.6156 - val_accuracy: 0.6667
Epoch 65/100
105/105 [==============================] - 0s 209us/sample - loss: 0.6137 - accuracy: 0.6667 - val_loss: 0.6148 - val_accuracy: 0.6667
Epoch 66/100
105/105 [==============================] - 0s 250us/sample - loss: 0.6130 - accuracy: 0.6667 - val_loss: 0.6144 - val_accuracy: 0.6667
Epoch 67/100
105/105 [==============================] - 0s 236us/sample - loss: 0.6125 - accuracy: 0.6667 - val_loss: 0.6138 - val_accuracy: 0.6667
Epoch 68/100
105/105 [==============================] - 0s 205us/sample - loss: 0.6120 - accuracy: 0.6667 - val_loss: 0.6132 - val_accuracy: 0.6667
Epoch 69/100
105/105 [==============================] - 0s 192us/sample - loss: 0.6115 - accuracy: 0.6667 - val_loss: 0.6124 - val_accuracy: 0.6667
Epoch 70/100
105/105 [==============================] - 0s 190us/sample - loss: 0.6109 - accuracy: 0.6667 - val_loss: 0.6119 - val_accuracy: 0.6667
Epoch 71/100
105/105 [==============================] - 0s 189us/sample - loss: 0.6104 - accuracy: 0.6667 - val_loss: 0.6115 - val_accuracy: 0.6667
Epoch 72/100
105/105 [==============================] - 0s 192us/sample - loss: 0.6099 - accuracy: 0.6667 - val_loss: 0.6110 - val_accuracy: 0.6667
Epoch 73/100
105/105 [==============================] - 0s 191us/sample - loss: 0.6094 - accuracy: 0.6667 - val_loss: 0.6107 - val_accuracy: 0.6667
Epoch 74/100
105/105 [==============================] - 0s 170us/sample - loss: 0.6089 - accuracy: 0.6667 - val_loss: 0.6100 - val_accuracy: 0.6667
Epoch 75/100
105/105 [==============================] - 0s 190us/sample - loss: 0.6084 - accuracy: 0.6667 - val_loss: 0.6097 - val_accuracy: 0.6667
Epoch 76/100
105/105 [==============================] - 0s 227us/sample - loss: 0.6080 - accuracy: 0.6667 - val_loss: 0.6091 - val_accuracy: 0.6667
Epoch 77/100
105/105 [==============================] - 0s 212us/sample - loss: 0.6075 - accuracy: 0.6667 - val_loss: 0.6089 - val_accuracy: 0.6667
Epoch 78/100
105/105 [==============================] - 0s 214us/sample - loss: 0.6070 - accuracy: 0.6667 - val_loss: 0.6084 - val_accuracy: 0.6667
Epoch 79/100
105/105 [==============================] - 0s 193us/sample - loss: 0.6065 - accuracy: 0.6667 - val_loss: 0.6081 - val_accuracy: 0.6667
Epoch 80/100
105/105 [==============================] - 0s 181us/sample - loss: 0.6061 - accuracy: 0.6667 - val_loss: 0.6078 - val_accuracy: 0.6667
Epoch 81/100
105/105 [==============================] - 0s 206us/sample - loss: 0.6056 - accuracy: 0.6667 - val_loss: 0.6073 - val_accuracy: 0.6667
Epoch 82/100
105/105 [==============================] - 0s 201us/sample - loss: 0.6051 - accuracy: 0.6667 - val_loss: 0.6068 - val_accuracy: 0.6667
Epoch 83/100
105/105 [==============================] - 0s 304us/sample - loss: 0.6048 - accuracy: 0.6667 - val_loss: 0.6060 - val_accuracy: 0.6667
Epoch 84/100
105/105 [==============================] - 0s 201us/sample - loss: 0.6042 - accuracy: 0.6667 - val_loss: 0.6057 - val_accuracy: 0.6667
Epoch 85/100
105/105 [==============================] - 0s 173us/sample - loss: 0.6037 - accuracy: 0.6667 - val_loss: 0.6050 - val_accuracy: 0.6667
Epoch 86/100
105/105 [==============================] - 0s 193us/sample - loss: 0.6032 - accuracy: 0.6667 - val_loss: 0.6045 - val_accuracy: 0.6667
Epoch 87/100
105/105 [==============================] - 0s 212us/sample - loss: 0.6029 - accuracy: 0.6667 - val_loss: 0.6040 - val_accuracy: 0.6667
Epoch 88/100
105/105 [==============================] - 0s 212us/sample - loss: 0.6023 - accuracy: 0.6667 - val_loss: 0.6035 - val_accuracy: 0.6667
Epoch 89/100
105/105 [==============================] - 0s 191us/sample - loss: 0.6018 - accuracy: 0.6667 - val_loss: 0.6030 - val_accuracy: 0.6667
Epoch 90/100
105/105 [==============================] - 0s 211us/sample - loss: 0.6014 - accuracy: 0.6667 - val_loss: 0.6025 - val_accuracy: 0.6667
Epoch 91/100
105/105 [==============================] - 0s 178us/sample - loss: 0.6009 - accuracy: 0.6667 - val_loss: 0.6019 - val_accuracy: 0.6667
Epoch 92/100
105/105 [==============================] - 0s 171us/sample - loss: 0.6006 - accuracy: 0.6667 - val_loss: 0.6015 - val_accuracy: 0.6667
Epoch 93/100
105/105 [==============================] - 0s 177us/sample - loss: 0.6001 - accuracy: 0.6667 - val_loss: 0.6012 - val_accuracy: 0.6667
Epoch 94/100
105/105 [==============================] - 0s 187us/sample - loss: 0.5996 - accuracy: 0.6667 - val_loss: 0.6008 - val_accuracy: 0.6667
Epoch 95/100
105/105 [==============================] - 0s 206us/sample - loss: 0.5992 - accuracy: 0.6667 - val_loss: 0.6003 - val_accuracy: 0.6667
Epoch 96/100
105/105 [==============================] - 0s 180us/sample - loss: 0.5987 - accuracy: 0.6667 - val_loss: 0.5999 - val_accuracy: 0.6667
Epoch 97/100
105/105 [==============================] - 0s 163us/sample - loss: 0.5983 - accuracy: 0.6667 - val_loss: 0.5994 - val_accuracy: 0.6667
Epoch 98/100
105/105 [==============================] - 0s 186us/sample - loss: 0.5979 - accuracy: 0.6667 - val_loss: 0.5990 - val_accuracy: 0.6667
Epoch 99/100
105/105 [==============================] - 0s 189us/sample - loss: 0.5974 - accuracy: 0.6667 - val_loss: 0.5986 - val_accuracy: 0.6667
Epoch 100/100
105/105 [==============================] - 0s 188us/sample - loss: 0.5971 - accuracy: 0.6667 - val_loss: 0.5980 - val_accuracy: 0.6667

## Question 10

### Make predictions
- Predict labels on one row

In [ ]:
y_pred=model.predict(test_x)
out2 = []
for val in y_pred:
    out2.append(np.argmax(val))
print(out2)

[0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0]

### Compare the prediction with actual label
- Print the same row as done in the previous step but of actual labels

In [ ]:
import pandas as pd
df=pd.DataFrame(test_y,out2).reset_index()

df.set_axis(['Predicted','Actual'],axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: set_axis currently defaults to operating inplace.
This will change in a future version of pandas, use inplace=True to avoid this warning.
  after removing the cwd from sys.path.

In [ ]:
df

    Predicted  Actual
0           0       0
1           0       0
2           2       2
3           0       0
4           0       0
5           2       2
6           0       0
7           2       2
8           2       2
9           0       0
10          0       0
11          0       0
12          0       0
13          0       0
14          2       1
15          2       1
16          0       0
17          2       1
18          2       2
19          2       1
20          2       1
21          2       1
22          2       2
23          2       1
24          2       1
25          0       0
26          0       0
27          2       2
28          0       0
29          2       2
30          2       2
31          0       0
32          0       1
33          2       2
34          2       1
35          0       0
36          2       2
37          2       1
38          2       1
39          2       2
40          2       1
41          2       1
42          2       2
43          2       1
44          0       0



---

# Stock prices dataset
The data is of tock exchange's stock listings for each trading day of 2010 to 2016.

## Description
A brief description of columns.
- open: The opening market price of the equity symbol on the date
- high: The highest market price of the equity symbol on the date
- low: The lowest recorded market price of the equity symbol on the date
- close: The closing recorded price of the equity symbol on the date
- symbol: Symbol of the listed company
- volume: Total traded volume of the equity symbol on the date
- date: Date of record

### Specifying the TensorFlow version
Running `import tensorflow` will import the default version (currently 1.x). You can use 2.x by running a cell with the `tensorflow_version` magic **before** you run `import tensorflow`.

In [ ]:
%tensorflow_version 2.x

### Import TensorFlow
Once you have specified a version via this magic, you can run `import tensorflow` as normal and verify which version was imported as follows:

In [ ]:
import tensorflow as tf
print(tf.__version__)

2.1.0-rc1

### Set random seed

In [ ]:
tf.random.set_seed(42)

## Question 1

### Load the data
- load the csv file and read it using pandas
- file name is prices.csv

In [ ]:
# run this cell to upload file if you are using google colab
from google.colab import files
files.upload()

Saving prices.csv to prices.csv

In [ ]:
df = read_csv("prices.csv")

In [ ]:
df.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

## Question 2

### Drop columnns
- drop "date" and "symbol" column from the data

In [ ]:
ndf = df.drop(['date','symbol'],axis=1)

In [ ]:
ndf.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

## Question 3

### Take initial rows
- Take first 1000 rows from the data
- This step is done to make the execution faster

In [ ]:
ndf = ndf.iloc[0:1000,:]

In [ ]:
ndf.shape

(1000, 5)

## Question 4

### Get features and label from the dataset in separate variable
- Take "open", "close", "low", "high" columns as features
- Take "volume" column as label
- Normalize label column by dividing it with 1000000

In [ ]:
X = ndf[['open','close','low','high']]
y = ndf['volume']/1000000

## Question 5

### Convert data
- Convert features and labels to numpy array
- Convert their data type to "float32"

In [ ]:
Xarr = X.values
yarr = y.values
Xarr32 =tf.cast(Xarr,tf.float32)
yarr32 = tf.cast(Xarr,tf.float32)

## Question 6

### Normalize data
- Normalize features
- Use tf.math.l2_normalize to normalize features
- You can read more about it here https://www.tensorflow.org/api_docs/python/tf/math/l2_normalize

In [ ]:
Xarr32 = tf.math.l2_normalize(Xarr32,1)

## Question 7

### Define weight and bias
- Initialize weight and bias with tf.zeros
- tf.zeros is an initializer that generates tensors initialized to 0
- Specify the value for shape

In [ ]:
W = tf.Variable( tf.zeros( [4,1] ) )
B = tf.Variable( tf.zeros( [1] ) )

## Question 8

### Get prediction
- Define a function to get prediction
- Approach: prediction = (X * W) + b; here is X is features

In [ ]:
def frwrd_pass(X_train,W,B):
    out = tf.matmul( X_train,W ) + B
    return out

### Calculate loss
- Calculate loss using predictions
- Define a function to calculate loss
- We are calculating mean squared error

In [ ]:
def loss(predicted_y, desired_y):
  return tf.reduce_mean(tf.square(predicted_y - desired_y))

## Question 9

### Define a function to train the model
1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [ ]:
def train(X_train, Y_train, epochs):
  optimizer = tf.compat.v1.train.GradientDescentOptimizer(learning_rate = 0.01)
  
  for i in range(epochs):
    with tf.GradientTape() as tape: #tf.GradientTape records all operations in forward pass to apply gradient later
      predicted = frwrd_pass( X_train,W,B )
      curr_loss = loss(predicted, yarr32)
    grads = tape.gradient( curr_loss, [W,B] )#return derivative of loss function wrt weight and bias
    optimizer.apply_gradients(zip(grads, [W,B]),global_step=tf.compat.v1.train.get_or_create_global_step()) #applys Gradient Descent
    print("Loss at step {:d}: {:.3f}".format(i, loss(frwrd_pass( X_train,W,B ), Y_train)))

## Question 10

### Train the model for 100 epochs 
- Observe the training loss at every iteration

In [ ]:
train(Xarr32,yarr,100)

Loss at step 0: 3553.912
Loss at step 1: 3291.680
Loss at step 2: 3050.008
Loss at step 3: 2827.281
Loss at step 4: 2622.017
Loss at step 5: 2432.845
Loss at step 6: 2258.503
Loss at step 7: 2097.830
Loss at step 8: 1949.752
Loss at step 9: 1813.284
Loss at step 10: 1687.515
Loss at step 11: 1571.606
Loss at step 12: 1464.784
Loss at step 13: 1366.336
Loss at step 14: 1275.607
Loss at step 15: 1191.990
Loss at step 16: 1114.930
Loss at step 17: 1043.910
Loss at step 18: 978.458
Loss at step 19: 918.138
Loss at step 20: 862.546
Loss at step 21: 811.313
Loss at step 22: 764.096
Loss at step 23: 720.582
Loss at step 24: 680.478
Loss at step 25: 643.519
Loss at step 26: 609.457
Loss at step 27: 578.065
Loss at step 28: 549.135
Loss at step 29: 522.473
Loss at step 30: 497.901
Loss at step 31: 475.255
Loss at step 32: 454.385
Loss at step 33: 435.151
Loss at step 34: 417.424
Loss at step 35: 401.088
Loss at step 36: 386.032
Loss at step 37: 372.157
Loss at step 38: 359.369
Loss at step 39: 347.584
Loss at step 40: 336.723
Loss at step 41: 326.713
Loss at step 42: 317.488
Loss at step 43: 308.987
Loss at step 44: 301.152
Loss at step 45: 293.931
Loss at step 46: 287.276
Loss at step 47: 281.143
Loss at step 48: 275.490
Loss at step 49: 270.281
Loss at step 50: 265.481
Loss at step 51: 261.056
Loss at step 52: 256.979
Loss at step 53: 253.221
Loss at step 54: 249.758
Loss at step 55: 246.566
Loss at step 56: 243.624
Loss at step 57: 240.913
Loss at step 58: 238.415
Loss at step 59: 236.113
Loss at step 60: 233.991
Loss at step 61: 232.035
Loss at step 62: 230.233
Loss at step 63: 228.572
Loss at step 64: 227.041
Loss at step 65: 225.630
Loss at step 66: 224.330
Loss at step 67: 223.132
Loss at step 68: 222.027
Loss at step 69: 221.010
Loss at step 70: 220.072
Loss at step 71: 219.207
Loss at step 72: 218.411
Loss at step 73: 217.676
Loss at step 74: 217.000
Loss at step 75: 216.376
Loss at step 76: 215.802
Loss at step 77: 215.272
Loss at step 78: 214.784
Loss at step 79: 214.334
Loss at step 80: 213.919
Loss at step 81: 213.537
Loss at step 82: 213.185
Loss at step 83: 212.861
Loss at step 84: 212.562
Loss at step 85: 212.286
Loss at step 86: 212.032
Loss at step 87: 211.798
Loss at step 88: 211.582
Loss at step 89: 211.383
Loss at step 90: 211.200
Loss at step 91: 211.031
Loss at step 92: 210.875
Loss at step 93: 210.732
Loss at step 94: 210.600
Loss at step 95: 210.478
Loss at step 96: 210.366
Loss at step 97: 210.262
Loss at step 98: 210.167
Loss at step 99: 210.079

### Observe values of Weight
- Print the updated values

In [ ]:
W

<tf.Variable 'Variable:0' shape=(4, 1) dtype=float32, numpy=
array([[1.64165  ],
       [1.5366124],
       [1.6367263],
       [1.5182164]], dtype=float32)>

### Observe values of Bias
- Print the updated values

In [ ]:
B